@use "variables" as *;
@use "mixins" as *;

section.location-info-container {
    width: 100%;
    background-color: $secondary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px 0;

    h4 {
        @include titles-font;
        color: $botones-dorados;
        size: 1.2rem;        
    }

    h1 {
        @include titles-font;
        color: $color-fuente-titulos;
        font-size: 2.3rem;
    }

    div.map-container {
        width: 85%;
        max-width: 500px;
        height: clamp(350px, 5vh, 500px);
        border-radius: 10px;
        background-color: gray;
        overflow: hidden;
        box-shadow: $neo-morphism-static;
        color: $white-base;
        font-size: 2rem;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a.contact-btn {
        padding: 5px 10px;
        border-radius: 3px;
        @include text-font;
        color: $color-fuente-titulos;
        font-size: 1rem;
        font-weight: 800;
        margin-top: 10px;
    }
}

footer {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color: $btn-color;
    padding-top: 10px;

    img.main-logo-white {
        display: block;
        margin: 120px auto 20px auto;
    }

    nav.footer-menu {
        min-width: 100vw;
        margin-top: 60px;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-evenly;
            text-align: center;
            width: 100%;
            height: 100%;
            list-style: none;

            li {
                padding: 15px;

                a {
                    @include text-font;
                    text-decoration: none;
                    color: $white-base;
                    font-size: 1.5rem;
                    line-height: 2.3rem;
                    font-weight: 600;
                }
            }

            div.divider {
                width: 160px;
                height: 1px;
                background-color: $white-base;
                margin: 0 auto;
            }
        }
    }

    span.address.white {
        display: block;
        margin: 10px 0;
        color: $white-base
    }

    div.icons-container.white {
        margin: 50px auto;

        span.email.white {
            background-image: url("/public/assets/icons/email-icon-white.svg")
        }

        span.instagram.white {
            background-image: url("/public/assets/icons/instagram-icon-white.svg")
        }

        span.facebook.white {
            background-image: url("/public/assets/icons/facebook-icon-white.svg")
        }

        span.phone.white {
            background-image: url("/public/assets/icons/phone-icon-white.svg")
        }
    }

    div.sub-footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: $botones-dorados;

        div {
            @include text-font;
            font-size: 0.8rem;
            line-height: 1.1rem;
            color: $black-base;
            font-weight: 800;
            cursor: pointer;
        }

        div.vertical-divider {
            width: 1.5px;
            height: 50%;
            background-color: $black-base;
        }
    }
}

section.location-info-container + section.beige-section {
    gap: 15px;
    padding: 80px 0;

    h4 {
        @include text-font;
        font-size: 1.2rem;
        color: $botones-dorados;

    }

    p {
        @include text-font;
        color: $color-fuente;
        text-align: center;
        font-size: 1.1rem;
        max-width: 250px;
    }
}