@use "variables" as *;
@use "mixins" as *;

div.home {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: $secondary-color;
}

div.mainContainer {
    position: relative;
}

div.main-fotos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: $negro-fondo;
    clip-path: polygon(0 0, 98% 0, 95% 100%, 0 95%);

    img.mainFoto {
        max-width: 100%;
        max-width: 500px;
    }

    img.mainLogo-top {
        width: 200px;
        margin-top: 10px;
    }

    a.contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 5%;
        width: 62px;
        height: 22px;
        background-color: $botones-dorados;
        border-radius: 2px;
        text-decoration: none;
        @include text-font;
        font-size: 0.8rem;
        line-height: 10rem;
        font-weight: 800;
        color: $black-base;
    }
}


div.mainGreeting {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    width: 80%;

    h3 {
        @include text-font;
        color: $botones-dorados;
        font-weight: 800;
        margin-bottom: 5px;
    }

    h1 {
        @include titles-font;
        text-align: left;
        font-size: 3.7rem;
        line-height: 3.8rem;
        color: $color-fuente-titulos;
    }

    h4 {
        @include text-font;
        font-weight: 800;
        font-size: 1.1rem;
        line-height: 1.8rem;
        color: $color-fuente-titulos;
    }

    p {
        @include text-font;
        font-size: 1.1rem;
        line-height: 1.8rem;
        color: $color-fuente;
    }
    
}

h1 {
    @include titles-font;
    text-align: center;
    color: $black-base;
}

button.btn {
    @include titles-font;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    background-color: $white-base;
    color: $black-base;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 40px 0;

    @include hoverBtn;
}

h1~button.btn {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 800;
}

a.see-more-btn {
    @include titles-font;
    width: 88px;
    height: 30px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    text-decoration: none;
    color: $white-base;
    background-color: $btn-color;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $neo-morphism-static;

    @include hoverBtn;
}

div.prices-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    flex-direction: column;
    background: #0D0D0D;
    background: linear-gradient(180deg, $primary-color 50%, $third-color 85%);

    div.iluminator {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: 5px 0px 100px 30px $primary-color;
        background-color: $third-color;
    }

    div.iluminator1 {
        top: 15px;
        left: -15px;
    }

    div.iluminator.iluminator2 {
        top: 250px;
        right: -15px;
    }

    h3 {
        @include titles-font;

        margin-top: 40px;
        color: $white-base;
    }

    p {
        @include text-font;

        width: 200px;
        text-align: center;
        margin-top: 5px;
        color: $white-base;
    }

    button.price-list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div.download-icon-container {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $btn-color;
            margin-left: 15px;
            background-image: url("/public/assets/icons/download-icon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

img.cnc-shop-logo {
    width: 280px;
    margin-top: 50px;
}

div.cnc-info-background {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 60px 0 25px 0;
    background-color: #1D5078;

    div.cnc-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #28567D;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
        width: 270px;
        padding: 10px;
        height: 135px;
        border-radius: 8px;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: $white-base;

        &::before {
            content: "";
            width: 80%;
            height: 10px;
            background-color: $white-base;
            position: absolute;
            top: -35px;
            border-radius: 50%;
            left: calc(50% - 40%);
            box-shadow: 0px 0px 35px 25px $white-base;
        }

        p {
            @include text-font;
            font-size: 1rem;
            line-height: 1.4rem;
            color: $white-base;
        }

        p:nth-last-of-type(1) {
            opacity: 0.7;
        }
    }
}

h1.access-code {
    @include titles-font;
    color: #205077;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

a.cnc-shop {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    width: 175px;
    height: 45px;
    @include titles-font;
    font-size: 1.5rem;
    line-height: 1.9rem;
    background-color: #1D5078;
    color: $white-base;
    border-radius: 8px;
    margin: 20px 0 80px 0;
    box-shadow: $neo-morphism-static;
    @include hoverBtn;
}
