@use "variables" as *;
@use "mixins" as *;

div.services-page {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: $secondary-color;
}

section.topMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20vh;
    background-color: $negro-fondo;
    clip-path: polygon(0 0, 100% 0, 97% 100%, 0 95%);

    a.mainLogo-top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        max-width: 220px;
        margin-top: 10px;

        img {
            width: 100%;
        }
    }

    a.contact-btn {
        position: absolute;
        top: 25px;
        right: 8px;
        width: 62px;
        height: 22px;
        font-size: $tamano-texto-pequeno;
        border-radius: 2px;
    }
}

div.principal-img-container {
    max-width: 90vw;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 65%);

    img.principal-img {
        width: 100%;
    }
}

section.mainDescription {
    width: 100%;
    padding: 120px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 15px;

    h4 {
        @include text-font;
        color: $botones-dorados;
        font-weight: 600;
        font-size: $tamano-texto;
    }

    h1 {
        @include titles-font;
        color: $color-fuente;
        font-size: $tamano-titulos-grandes;
        text-align: left;
    }

    p {
        @include text-font;
        color: $color-fuente;
        font-size: $tamano-texto-mediano;
        line-height: clamp(1.5rem, 1.25rem + 0.8vw, 2rem);
    }

    div.decorationText {
        // width: 220px;
        width: 80%;
        min-width: 220px;
        max-width: 260px;
        height: 30px;
        color: $botones-dorados;
        background-color: $third-color;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: $tamano-texto-mediano;
        font-weight: 600;
        box-shadow: 1px 3px 8px 0px rgba($botones-dorados, 0.5);
        margin-top: 10px;
    }
}

section.service-cards-section {
    display: flex;
    justify-content: center;
    background-color: $third-color;
    @include topShadow;
    padding: 80px 0px;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;

    div.service-card {
        width: 90%;
        max-width: 380px;
        min-height: 400px;
        background-color: $white-base;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: $neo-morphism-static;
        position: relative;
        margin-bottom: 35px;

        &.pure-glow {
            img {
                clip-path: polygon(0 0, 100% 0, 100% 84%, 0 71%);
            }
        }

        &.microneedling {
            img {
                clip-path: polygon(0 0, 100% 0, 85% 93%, 0 93%);
            }
        }

        &.eyelashextensions {
            img {
                clip-path: polygon(0 0, 100% 0, 94% 93%, 0 86%);
            }
        }

        &.eyelash-lifting {
            img {
                clip-path: polygon(0 0, 100% 0, 89% 95%, 0 95%);
            }
        }

        &.eyebrow-lifting {
            img {
                clip-path: polygon(0 0, 100% 0, 97% 96%, 0 88%);
            }
        }

        img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            position: absolute;
            top: -20px;
            left: -10px;
        }

        h2 {
            @include titles-font;
            color: $color-fuente-titulos;
            font-size: $tamano-titulos-pequenos;
            margin-bottom: 10px;
        }

        h4 {
            @include titles-font;
            color: $botones-dorados;
            font-size: $tamano-texto-mediano;
            font-weight: 600;
            margin: 10px 0 5px 0;
        }

        p {
            @include text-font;
            color: $color-fuente;
            font-size: $tamano-texto-mediano;
            line-height: 1.5rem;
        }

        p:first-of-type {
            margin-bottom: 10px;
        }

        div.rosa-subtitle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 3px 10px;
            border: solid 1px $primary-color;
            border-radius: 35px;
            @include text-font;
            color: $primary-color;
            font-size: 1rem;
            font-weight: 600;
            margin: 40vw 0 10px 0;
        }

        ul {
            color: $color-fuente;
            list-style: none;
            font-size: $tamano-texto-mediano;
        }

        div.subservice {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px;
            background-color: $white-base;
            border: 1px solid #707070;
            border-radius: 5px;
            margin: 5px 0;

            h3 {
                @include titles-font;
                color: $color-fuente-titulos;
                font-size: $tamano-titulos-pequenos;
                margin-bottom: 5px;
            }

        }

        div.subservice-2 {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 5px;
            background-color: $white-base;
            border: 1px solid #707070;
            border-radius: 5px;
            margin: 5px 0;

            span {
                @include titles-font;
                color: $color-fuente-titulos;
                font-size: $tamano-texto-mediano;
                margin-bottom: 5px;
                padding: 0 5px;
                min-width: fit-content;
                border-right: 1px solid #707070;
                height: 80%;
                display: flex;
                align-items: center;
            }

            div.subservice:first-of-type {
                margin-top: 20px;
            }

            p {
                margin: 0;
                padding-left: 5px;
                font-size: $tamano-texto-mediano;
            }
        }
    }

    div.service-card.microneedling {
        div.divider {
            width: 100%;
            height: 1px;
            background-color: #707070;
            margin: 10px 0;
        }

        div.rosa-subtitle {
            margin-top: 80vw;
        }

        p + div.subservice {
            margin-top: 20px;
        }

        div.subservice:last-of-type {
            background-color: $primary-color;
            border: none;

            h3, p {
                color: $white-base;
            }
        }
    }
    
    div.service-card.eyelash-lifting {
        div.rosa-subtitle {
            margin-top: 55vw;
        }
    }
    
    div.service-card.eyelashextensions {
        div.rosa-subtitle {
            margin-top: 50vw;
        }
    }

    div.service-card.eyebrow-lifting {
        div.rosa-subtitle {
            margin-top: clamp(45vw, 40vw + 45px, 60vw);
        }
    }

    a.contact-btn {
        width: fit-content;
        padding: 5px;
        border-radius: 4px;
        margin-top: 20px;
        @include text-font;
        font-size: $tamano-texto-pequeno;
        font-weight: 800;
        color: $color-fuente;
    }

    a.mainLogo-bottom {
        width: 200px;
        margin-top: 50px;
    }
}