$primary-color: #E08B8B; // Main rosa color
$secondary-color: #FFFBF8; // Main beige color
$third-color: #FFF2E6; // Main yellow color
$black-base: #363636;
$white-base: #FFFBF8;
$btn-color: #453728;
$neo-morphism-static:
    4px 4px 8px rgba(0, 0, 0, 0.1),      // sombra suave
    -4px -4px 8px rgba(255, 255, 255, 0.7);// highlight
$negro-fondo: #080404;
$botones-dorados: #F7BD61;
$color-fuente: #585149;
$color-fuente-titulos: #453728;