$primary-color: #F2B8A1; // Main rosa color
$secondary-color: #FFFBF8; // Main beige color
$black-base: #363636;
$white-base: #FFFFFF;
$btn-color: #0D0D0D;
$neo-morphism-static:
    4px 4px 8px rgba(0, 0, 0, 0.1),      // sombra suave
    -4px -4px 8px rgba(255, 255, 255, 0.7);// highlight