@use "variables" as *;
@use "mixins" as *;

div.whatsapp-floating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #25D366;
    z-index: 1000;
    cursor: pointer;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;

    img.icon {
        position: absolute;
        width: 35px;
        height: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        transition: transform 300ms ease-in-out;
        -webkit-tap-highlight-color: transparent;
    }

    img.close-icon {
        display: block;
        transform: translate(-50%, -50%) scale(0) rotate(0deg);
        opacity: 0;
        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    }

    .whatsapp-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 60px;
        right: 0;
        width: 60vw;
        max-width: 240px;
        height: 20vh;
        max-height: 100px;
        padding: 18px 15px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        text-align: center;
        opacity: 0;
        transform: translateY(25px) scale(0.9);
        transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
        pointer-events: none;

        p {
            @include text-font;
            margin: 0 0 8px;
            color: #333;
            font-size: $tamano-texto-mediano;
            line-height: clamp(1.5rem, 0.8vw, 1.8rem);
        }

        .popup-button {
            @include titles-font;
            display: inline-block;
            padding: 6px 12px;
            background-color: #25D366;
            color: $white-base;
            border-radius: 4px;
            text-decoration: none;
            font-size: $tamano-texto-pequeno;
            line-height: clamp(1.5rem, 0.8vw, 1.8rem);
        }
    }

    &.open {
        .whatsapp-icon {
            transform: translate(-50%, -50%) scale(0) rotate(360deg);
        }

        .close-icon {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1) rotate(360deg);
        }

        .whatsapp-popup {
            opacity: 1;
            transform: translateY(0) scale(1);
            pointer-events: auto;
        }
    }
}